@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

html {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0683c3), color-stop(100%, #30499c));
  background-image: -moz-linear-gradient(top, #0683c3, #30499c);
  background-image: linear-gradient(top, #0683c3, #30499c);
  height: 100%;
}

body {
  background: none;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 100px;
  font: 16px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-shadow: black 1px 1px 0;
  color: #eee;
  color: rgba(255, 255, 255, 0.85);
}

a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  -moz-transition-property: color, background;
  -webkit-transition-property: color, background;
  -o-transition-property: color, background;
  transition-property: color, background;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -moz-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
a:hover {
  color: #ffc;
}

h1, h2 {
  color: rgba(255, 255, 255, 0.97);
  font-size: 36px;
  line-height: 1.25;
}

h1 {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
  padding-right: 320px;
  font-weight: bold;
  font-size: 48px;
  text-shadow: 0 1px 0 #cccccc, 0 1px 0 #c9c9c9, 0 1px 0 #bbbbbb, 0 2px 0 #b9b9b9, 0 3px 0 #aaaaaa, 0 4px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
* html h1 {
  overflow-x: hidden;
}

h2 {
  font-weight: normal;
  display: inline;
  float: left;
  margin-right: 0;
  width: 790px;
  padding-right: 160px;
}
* html h2 {
  overflow-x: hidden;
}

section {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin: 2em 0;
}
section > p {
  font-size: 24px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
  padding-right: 160px;
}
* html section > p {
  overflow-x: hidden;
}
* html section {
  overflow-x: hidden;
}

article {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin: 2em 0;
}
* html article {
  overflow-x: hidden;
}
article a {
  font-weight: normal;
  background: #dfdfdf;
  color: #444;
  padding: 0.25em 1em;
  border: 2px solid #494949;
  font-size: 2em;
  -moz-border-radius: 0.85em;
  -webkit-border-radius: 0.85em;
  -o-border-radius: 0.85em;
  -ms-border-radius: 0.85em;
  -khtml-border-radius: 0.85em;
  border-radius: 0.85em;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0 8px 0, white 0 0 8px 4px inset;
  text-shadow: white 0 2px 0;
  -webkit-background-clip: padding-box;
}
article a:hover {
  color: #2a2a2a;
  background: #fafafa;
}

footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
* html footer {
  overflow-x: hidden;
}
